
.vs/

Projects/ICHOMFhirQuestionaireClient/obj/

Projects/ICHOMFhirQuestionaireClient/bin/

.nuke/temp/

build/bin/

build/obj/

output/

Projects/ICHOMFhirQuestionaireClient.WSInstaller/bin/

Projects/ICHOMFhirQuestionaireClient.WSInstaller/obj/

Projects/ICHOMFhirQuestionaireClient.WSInstaller/wix/

*.msi
